@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Bungee+Hairline&family=Bungee&display&family=Roboto:wght@300;400&display=swap');

/* ||General Styles */

body {
  font-family: "Bungee Hairline", cursive;
  font-size: 20px;
  color: #E0E1DD;
  background-color: #1B263B;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  border: 3px solid #0D1B2A;
  margin: 0 auto;
}

section {
  text-align: center;
}

header {
  color: #778DA9;
  background-color: #0D1B2A;
  padding-top: 10px;
}


/* || Typography */

h1 {
  margin: 0;
  padding: 0;
  font-family: 'Bungee Outline', cursive;
  font-size: 6em;
}

p {
  padding-bottom: 1em;
  text-align: left;
  margin: 0 auto;
  line-height: 1.5em;
}

ul {
  margin-block-start: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  vertical-align: top;
}

li {
  /* display: inline-block; */
}

.information {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 1em;
}


/* ||Header & Main navigation */

li a {
  color: #778DA9;
  font-size: 22px;
  text-align: left;
  text-decoration: none;
  padding: .5em 1em;
}

li a:hover {
  color: #0D1B2A;
  background-color: #778DA9;
}

.title-bar {
  margin-top: 0;
  margin-bottom: 4em;
  padding: 0;
  background-color: #0D1B2A;
  color: #778DA9;
  text-align: center;
}


/* || Scoreboard */

.score-board {
  margin: 20px auto;
  border: 5px solid #415A77;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #415A77;
  text-align: center;
  width: 400px;
  font-size: 65px;
  padding: 10px 20px;
  position: relative;
}

.badge {
  background: #0D1B2A;
  color: #778DA9;
  font-size: 33px;
  padding: 2px 5px;
}

#playerX-label {
  position: absolute;
  border-top-left-radius: 2px;
  top: -55px;
  left: -4px;
}

#playerO-label {
  position: absolute;
  border-top-right-radius: 2px;
  top: -55px;
  right: -5px;
}


/* || Status message */

.status {
  font-size: 25px;
}


/* || Gameboard */

.game-board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 330px;
  margin: 10px auto 30px;
}

.cell {
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 2px #415A77;
  border: 5px solid #415A77;
  cursor: pointer;
  line-height: 100px;
  font-size: 80px;
}


/* || Reset */
.reset {
  margin-bottom: 1.6em;
}

.reset > button {
  margin-top: 5px;
  background-color: #415A77;
  border: 0;
  padding: 15px 32px;
  text-align: center;
  font-family: "Bungee Hairline", cursive;
  font-size: 20px;
  color: #E0E1DD;
  transition: all 1s ease;
}

.reset > button:hover {
  cursor: pointer;
  background: red;
}

/* || Blockquote from here */

blockquote {
  background: #778DA9;
  border-left: .5em solid #415A77;
  margin: 1.5em 10px;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  padding: 1em;
  color: #0D1B2A;
  margin-block-end: 1em;
}

blockquote:before {
  color: #415A77;
  content: open-quote;
  font-size: 5em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
  color: #0D1B2A;
}


/* || Footer */

footer {
  margin: auto;
  height: 100px;
  background-color: #0D1b2A;
  padding: 1em;
}

footer p {
  text-align: center;
}

/* || Utilities */

/* || SiteWide */
